@media screen and (min-width: 768px)
	.articles_design
		text-align center
	.article_design
		display inline-block
		vertical-align top
		margin 0.5em
		width 30%

	.header_menuamp
		display inline
		text-align center
		li 
			display inline-block
		a
			padding 0 1em 0.5em
			color darkgrey
			&:hover
				color second
	.header_menu
		display none

	.content_2
		font-size 0
	.intro
		font-size 1rem
		width 50%
		display inline-block 

		border-left 1px solid darkgrey	